<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092685949059-h3ns9ci77jfrgmsqu7bjnj54ep784th8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092685949059-h3ns9ci77jfrgmsqu7bjnj54ep784th8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1092685949059-0cqiva15gvh7jgfcejp2oo32pgnaufc3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvyEz8Bfy0xW5guY_bJG6fsTWVUVFJE40</string>
	<key>GCM_SENDER_ID</key>
	<string>1092685949059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.telred.clearkeep</string>
	<key>PROJECT_ID</key>
	<string>ck-3-test</string>
	<key>STORAGE_BUCKET</key>
	<string>ck-3-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092685949059:ios:1b758f10a24fcfe127d3b6</string>
</dict>
</plist>