<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLK_DOMAIN</key>
	<string>${CLK_DOMAIN}</string>
	<key>CLK_PORT</key>
	<string>${CLK_PORT}</string>
	<key>FacebookAppID</key>
	<string>$(FACEBOOK_APP_ID)</string>
	<key>FacebookDisplayName</key>
	<string>$(FACEBOOK_DISPLAY_NAME)</string>
	<key>GOOGLE_SERVICE_INFO_PLIST</key>
	<string>${GOOGLE_SERVICE_INFO_PLIST}</string>
	<key>IOS_APP_NAME</key>
	<string>${IOS_APP_NAME}</string>
	<key>IOS_BUNDLE_ID</key>
	<string>${IOS_BUNDLE_ID}</string>
	<key>IOS_NOTIFICATION_EXTENSION_BUNDLE_ID</key>
	<string>${IOS_NOTIFICATION_EXTENSION_BUNDLE_ID}</string>
	<key>RECEIVER_DEVICE_ID</key>
	<string>${RECEIVER_DEVICE_ID}</string>
	<key>SENDER_DEVICE_ID</key>
	<string>${SENDER_DEVICE_ID}</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
</dict>
</plist>
