//
//  NotificationExtension-Development.xcconfig
//  ClearKeep
//
//  Created by NamNH on 20/03/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

IOS_NOTIFICATION_EXTENSION_BUNDLE_ID = com.telred.clearkeep.dev.notificationextension
MARKETING_VERSION = 3.0.0
CURRENT_PROJECT_VERSION = 1
